[workspace]
members = ["akynoc"]
resolver = "3"

[workspace.metadata.release]
shared-version = true
tag-name = "v{{version}}"

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
